<div class="modal fade" id="{{dialogid}}" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" *ngIf="car">{{car.year}} {{car.brand}} {{car.model}}</h4>
      </div>
      <div class="modal-body">
        <div class="row" *ngIf="car">
          <div class="col-sm-3"><b>Brand</b>: <span>{{car.brand}}</span></div>
          <div class="col-sm-3"><b>Model</b>: <span>{{car.model}}</span></div>
          <div class="col-sm-3"><b>Year</b>: <span>{{car.year}}</span></div>
          <div class="col-sm-3"><b>Price</b>: <span class="price">$ {{car.price | number:'1.2-2'}}</span></div>
        </div>
        <img class="img-responsive" *ngIf="car" src="assets/cars/{{car.slug}}.c.jpg" alt="{{car.year}} {{car.brand}} {{car.model}}" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">
          <i class="glyphicon glyphicon-remove"></i>
          Close
        </button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>