<h2>Carros</h2>
<nav class="navbar navbar-default compare-queue">
   <ul class="nav navbar-nav">
     <li>
       <button href="#" class="btn btn-success navbar-btn" [disabled]="compareInvalid" (click)="gotoCompare()">
         <i class="glyphicon glyphicon-equalizer"></i> Comparar
       </button>
    </li>
     <li *ngFor="let car of compare;"><a href="#">{{car.year}} {{car.brand}} {{car.model}}</a></li>
   </ul>
</nav>

<div class="row">
  <div class="col-lg-12">
    <div class="input-group">
      <i class="input-group-addon glyphicon glyphicon-search"></i>
      <input type="text" class="form-control" [(ngModel)]="q" (keyup)="filterCars()"  placeholder="Buscar Auto">
      <div class="input-group-btn">
        <button class="btn btn-danger"><i class="glyphicon glyphicon-remove" (click)="clearSearch()"></i></button>
      </div>
    </div>
  </div>
</div>

<div class="alert alert-danger" role="alert" [hidden]="!compareError">
  Solo puedes comparar desde {{config.compare.min}} hasta {{config.compare.max}} vehiculos.
</div>
<div *ngFor="let car of filteredCars; let i = index" class="col-sm-3 car-summary">
  <h3>{{car.year}} {{car.brand}} {{car.model}}</h3>
  <div class="row">
    <div class="list-price">$ {{car.price | number:'1.2-2'}}</div>
  </div>
  <div class="thumbnail">
    <img src="/assets/cars/{{car.slug}}.th.jpg" alt="{{car.year}} {{car.brand}} {{car.model}}" class="img-responsive img-thumbnail">
    <div class="curtains" [ngClass]="(car.compare) ? 'active':''"></div>
    <div class="options">
      <a (click)="selectForComparison(i)">
        <i class="glyphicon glyphicon-equalizer"></i>
      </a>
      <a (click)="viewCarDetails(i)">
        <i class="glyphicon glyphicon-search"></i>
      </a>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="btn-group btn-group-justified" role="group" aria-label="">
          <div class="btn-group">
            <button type="button" class="btn btn-primary" (click)="viewCarDetails(i)">
              <i class="glyphicon glyphicon-search"></i>
            </button>
          </div>
          <div class="btn-group">
            <button type="button" class="btn btn-warning" (click)="selectForComparison(i)">
              <i class="glyphicon glyphicon-plus" *ngIf="!car.compare"></i>
              <i class="glyphicon glyphicon-minus" *ngIf="car.compare"></i>
            </button>
          </div>
          <div class="btn-group">
            <button type="button" class="btn btn-success" [disabled]="compareInvalid" (click)="gotoCompare()">
              <i class="glyphicon glyphicon-equalizer"></i>
              <i class="glyphicon glyphicon-arrow-right"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<cd-car-detail dialogid="car-detail" [car]="selectedCar"></cd-car-detail>